In [1]:
import pandas as pd

df = pd.read_csv('salaries_by_college_major.csv')

# First look at Data

In [2]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
df.shape

(51, 6)

In [4]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

# Missing Values and Junk Data

In [5]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [6]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [7]:
 clean_df = df.dropna()

In [8]:
clean_df.shape

(50, 6)

# Find College Major with Highest Starting Salaries

In [9]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [10]:
clean_df['Starting Median Salary'].max()

74300.0

In [11]:
idxmax = clean_df['Starting Median Salary'].idxmax()
idxmax

43

In [12]:
clean_df['Undergraduate Major'].loc[idxmax]

'Physician Assistant'

In [13]:
clean_df['Undergraduate Major'][idxmax]

'Physician Assistant'

In [14]:
clean_df.loc[idxmax]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

# Challenge

## Find College Major with Highest Mid-Career Salaries

In [15]:
clean_df['Mid-Career Median Salary'].max()

107000.0

In [16]:
clean_df['Undergraduate Major'].loc[clean_df['Mid-Career Median Salary'].idxmax()]

'Chemical Engineering'

## Find College Major with Lowest Starting Salaries

In [17]:
clean_df['Starting Median Salary'].min()

34000.0

In [18]:
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

'Spanish'

## Find College Major with Lowest Mid-Career Salaries

In [19]:
clean_df['Mid-Career Median Salary'].min()

52000.0

In [20]:
clean_df['Undergraduate Major'].loc[clean_df['Mid-Career Median Salary'].idxmin()]

'Education'

### Solution

In [21]:
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df['Undergraduate Major'][8]

107000.0
Index for the max mid career salary: 8

'Chemical Engineering'

In [22]:
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

34000.0

'Spanish'

In [23]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

# Sorting Values & Adding Columns

## Lowest Risk Majors

In [24]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [25]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [26]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

## Sorting by the Lowest Spread

In [27]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

# Challenge

## Majors with Highest Potential

In [28]:
potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

## Majors with the Greatest Spread in Salaries

In [29]:
big_spread = clean_df.sort_values('Spread', ascending=False)
big_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

# STEM, HASS or Business?

In [30]:
clean_df.groupby("Group").count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

## Average salary by group

In [31]:
clean_df.groupby("Group").mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000

## Number formats in the Output

In [32]:
pd.options.display.float_format = '{:,.2f}'.format

In [33]:
clean_df.groupby("Group").mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

# Extra-Credit

In [34]:
import requests
from bs4 import BeautifulSoup

In [35]:
def clean_elem(elem):
    text = elem.split(':')[-1]
    if text.startswith('$'):
        return text.replace(',', '')[1:]
    if text.endswith('%'):
        return text[:-1]
    return text

In [36]:
response = requests.get('https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors')
soup = BeautifulSoup(response.text, 'html.parser')
first_row = [row.text for row in soup.find_all('th')]
first_row

['Rank',
 'Major',
 'Degree Type',
 'Early Career Pay',
 'Mid-Career Pay',
 '% High Meaning']

In [37]:
all_rows = [[clean_elem(elem.text) for elem in row.find_all('td')] for row in soup.find('tbody').find_all('tr')]
all_rows[0]

['1', 'Petroleum Engineering', 'Bachelors', '92300', '182000', '69']

In [38]:
rows = []
for page in range(1, 35):
    print(f"Scrapping page: {page}")
    link = f'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{page}'
    response = requests.get(link)
    soup = BeautifulSoup(response.text, 'html.parser')
    if page == 1:
        first_row = [row.text for row in soup.find_all('th')]
    rows.extend([[clean_elem(elem.text) for elem in row.find_all('td')] for row in soup.find('tbody').find_all('tr')])

df = pd.DataFrame(data=rows, columns=first_row)
df

Scrapping page: 1
Scrapping page: 2
Scrapping page: 3
Scrapping page: 4
Scrapping page: 5
Scrapping page: 6
Scrapping page: 7
Scrapping page: 8
Scrapping page: 9
Scrapping page: 10
Scrapping page: 11
Scrapping page: 12
Scrapping page: 13
Scrapping page: 14
Scrapping page: 15
Scrapping page: 16
Scrapping page: 17
Scrapping page: 18
Scrapping page: 19
Scrapping page: 20
Scrapping page: 21
Scrapping page: 22
Scrapping page: 23
Scrapping page: 24
Scrapping page: 25
Scrapping page: 26
Scrapping page: 27
Scrapping page: 28
Scrapping page: 29
Scrapping page: 30
Scrapping page: 31
Scrapping page: 32
Scrapping page: 33
Scrapping page: 34

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,92300,182000,69
1,2,Electrical Engineering & Computer Science (EECS),Bachelors,101200,152300,46
2,3,Applied Economics and Management,Bachelors,60900,139600,67
3,3,Operations Research,Bachelors,78400,139600,52
4,5,Public Accounting,Bachelors,60000,138800,49
...,...,...,...,...,...,...
829,830,Early Childhood Education,Bachelors,34100,43300,78
830,831,Mental Health,Bachelors,35200,42500,-
831,832,Medical Assisting,Bachelors,35100,42300,-
832,833,Addictions Counseling,Bachelors,38800,42200,-
833,834,Metalsmithing,Bachelors,38300,38400,32

In [39]:
df.to_csv('pay_scale_data.csv', index=False)